[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "lib/Adafruit_SSD1306"]
	path = lib/Adafruit_SSD1306
	url = git@github.com:adafruit/Adafruit_SSD1306.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = git@github.com:adafruit/Adafruit_BusIO.git
[submodule "lib/Rtc"]
	path = lib/Rtc
	url = git@github.com:Makuna/Rtc.git
[submodule "lib/TimeLord"]
	path = lib/TimeLord
	url = git@github.com:probonopd/TimeLord.git
[submodule "lib/Adafruit-ST7735-Library"]
	path = lib/Adafruit-ST7735-Library
	url = git@github.com:adafruit/Adafruit-ST7735-Library.git
